.scroll {
   width: 350px;
   height: 350px;
	float: left;
   overflow: auto;
   font-family:helvetica;
   font-size:14px;
   scrollbar-face-color: #000000;
    scrollbar-highlight-color: #000000;
    scrollbar-3dlight-color: #000000;
    scrollbar-darkshadow-color: #000000;
    scrollbar-shadow-color: #000000;
    scrollbar-arrow-color: #FF99FF;
    scrollbar-track-color: #FFCCFF;
}
.scroll_thumb{
	background:#141414;
	border-radius:10px;
	padding:10px 35px;
	margin-top: 20px;
	position: relative;
}
.scroll_thumb > div {
    display: inline-block;
    position: relative;
	border:1px solid #c6c6c6;
	width:198px;
	vertical-align:top;
	border-radius: 10px;
	 margin: 0 9px 0 10px;
}

.scroll_thumb img {
    border-radius: 10px;
    width: 100%;
	height: 130px;
}
.scroll_thumb_link{
	 bottom: 0;
    left: 0;
    position: absolute;
    width:194px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 4px 2px;
	 color: #fff;
	 line-height: 15px;
	 background: #1e1e1e; /* Old browsers */

background: -moz-linear-gradient(top,  #1e1e1e 0%, #2a2a2a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e1e1e), color-stop(100%,#2a2a2a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e1e1e 0%,#2a2a2a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e1e1e 0%,#2a2a2a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e1e1e 0%,#2a2a2a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e1e1e 0%,#2a2a2a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#2a2a2a',GradientType=0 ); /* IE6-8 */
text-align: center;
}
.scroll_thumb_link > a{
	color:#fff;
	font-weight: bold;
}

.sc_left {
    border: medium none !important;
    position: absolute !important;
	 top: 65px;
	 left:0px;
    width: 20px !important;
}
.sc_right {
    border: medium none !important;
    position: absolute !important;
	top: 65px;
	right:0px;
    width: 20px !important;
}
.sc_left img, .sc_right img {
    height: 20px;
    width: 20px;
}